@charset "utf-8";
/* CSS Document */

h1, h2, h3, h4, h5, h6 {
	color: black;
	font-family: "Inter",sans-serif;
}

a {
	color: #171A21;
	font-family: "Inter",sans-serif;
}

body {
	background-color: #42BFDD;
}

.noticias {
	background-color: #F2D492;
	width: 300px;
	text-align: justify;	
	color:fuchsia;
	font: bolder;
	font-size: 20px;
}