@charset "utf-8";
/* CSS Document */

.flex {
	display: flex;
	flex-direction: column;
	background-color: yellow;
	height: 300px;
	justify-content: space-around;
	align-items: center;
}

.contenido-1{
	background-color: white;
	width: 100px;
	border: 1px solid;
}

.contenido-2{
	background-color: white;
	width: 100px;
	border: 1px solid;
}

.contenido-3{
	background-color: white;
	width: 100px;
	border: 1px solid;
}