
h1{
	font-size: 50px;
}
.ancho{
	background-color: darksalmon;
}

.tarjeta{
	background-color: darkgray;
	height: 300px;
	width: 500px;
	text-align: center;
	border-style: solid;
	border-color: cornflowerblue;
	color: aliceblue;
	margin-top: 20px;
	padding-top:100px;
}