@charset "utf-8";
/* CSS Document */

h1 {
	color: red;
	font-size: 4rem;
}

p {
	color: black;
	font-size: 2rem;
}

@media (max-width: 576px) {
	
	h1 {
		font-size: 2rem;
		color: purple;
	}
}
	